* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --soft-gray: #94a3b7;
  --light-blue: #325aaf;
  --dark-blue: #344861;
  --hover-effect: #f1f4f8;
  --blur-blue: #eaeef4;
  --focused-cell: #bbdefb;
  --focused-other: #e2ebf3;
  --correct-cell: #4dcc4d5e;
  --correct-value: #09dd09;
  --wrong-cell: #f7cfd6;
  --wrong-value: #e55c6c;
  --hinted-value: #f08c00;
}

html,
body {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

ul li {
  list-style-type: none;
}

input[type="text"],
input[type="text"]:focus {
  border: none;
}

.main-container {
  width: 55%;
  padding-top: 1rem;
  margin: auto;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* styling the game navbar */

.game-navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-navbar-container .dificulty-wrapper,
.data-game-container {
  display: flex;
  font-size: 0.8rem;
  font-family: "Mona Sans", sans-serif;
  font-weight: 600;
  color: var(--soft-gray);
}

.data-game-container {
  gap: 20px;
}

.data-game-container .title {
  padding-right: 0.2rem;
}
.data-game-container .value {
  color: var(--dark-blue);
}

.data-game-container .timer {
  width: 3rem;
}
.game-navbar-container .dificulty-wrapper li {
  cursor: pointer;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  padding: 5px 8px;
}

.game-navbar-container .dificulty-wrapper li:hover:not(li:first-of-type) {
  background-color: var(--hover-effect);
}

.dificulty-wrapper .hovered-data.clickable {
  color: var(--light-blue);
}

.pause-icon:hover {
  color: #dce3ed !important ;
}

/* styling game container*/
.game-container {
  padding: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  gap: 10px;
  position: relative;
}

/* styling game over */
.game-over {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1000;
  width: 51%;
  height: 65%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.game-over .pupop {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 50%;
  /* height: 50%; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  padding: 2rem;
  transition: 0.3s;
}

.pupop .text {
  padding: 1.5rem 0;
}

.pupop .text h2 {
  color: #344861;
  margin-bottom: 0.6rem;
}

.pupop .text div {
  color: #94a3b7;
}

.pupop .btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pupop .btn .second-chance-btn {
  color: #fff;
  background-color: #5a7bc0;
  border-color: transparent;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.pupop .btn .second-chance-btn:hover {
  background-color: #5a7ac0d7;
}

.pupop .btn .new-game-btn {
  color: #5a7bc0;
  background-color: transparent;
  border-color: transparent;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
}

.pupop .btn .new-game-btn:hover {
  color: #456abb;
}

/* styling sudoku shape container */
.Sudoku-shape-container {
  /* border: 2px solid var(--dark-blue); */
  flex: 70%;
}

.Sudoku-shape-container.paused {
  /* filter: blur(5px); */
  position: relative;
}

.pause-icon-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-blue);
  z-index: 1000;
  border-radius: 50%;
  padding: 1.5rem;
  cursor: pointer;
}

/* styling the game shape */
.table-shape {
  width: 100%;
  height: 100%;
  border: 2px solid var(--dark-blue);
  border-collapse: collapse;
  /* table-layout: fixed; */
}

.table-shape td {
  border: 1px solid #94a3b787;
  padding: 0;
  position: relative;
}

.table-shape input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.7rem;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0.2rem;
  caret-color: transparent;
  color: var(--dark-blue);
  user-select: none;
  cursor: default;
  transition: 0.2s;
}

.table-shape input.focused.current {
  background-color: var(--focused-cell);
}

.table-shape input.focused {
  background-color: var(--focused-other);
}

.table-shape input.correctValue {
  color: var(--correct-value);
}
.table-shape input.wrongValue {
  color: var(--wrong-value);
  background-color: var(--wrong-cell);
}
.table-shape input.mistakNumber {
  color: var(--wrong-value);
  background-color: var(--wrong-cell);
}

.table-shape input.paused {
  opacity: 0;
}

.table-shape input.hinted {
  color: var(--hinted-value);
}

tr.focused td input,
td.focused input {
  background-color: #e2ebf3;
}

.table-shape td:nth-child(3),
.table-shape td:nth-child(6) {
  border-right: 2px solid var(--dark-blue);
}
.table-shape tr:nth-child(3),
.table-shape tr:nth-child(6) {
  border-bottom: 2px solid var(--dark-blue);
}

/* styling sudoku setting container */
.setting-container {
  flex: 50%;
}
.sudoku-setting-container .sudoku-setting-icons {
  display: flex;
  justify-content: space-evenly;
  /* gap: 10px; */
}

.sudoku-setting-container .sudoku-setting-icons .icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sudoku-setting-container .sudoku-setting-icons .icon-container .caption {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--light-blue);
}

.sudoku-setting-container .sudoku-setting-icons li {
  background-color: var(--blur-blue);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sudoku-setting-container .sudoku-setting-icons li:hover {
  background-color: #dce3ed;
}

.sudoku-setting-container .sudoku-setting-icons .hint {
  position: relative;
}

.sudoku-setting-container .sudoku-setting-icons .hint .hint-number {
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  background-color: var(--light-blue);
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15%;
  left: 60%;
}

/* styling setting container */
.setting-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* styling sudoku inputs */
.sudoku-inputs-container {
  position: relative;
  cursor: default;
  user-select: none;
}
.number-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between grid items */
  list-style-type: none;
  padding: 0;
}

.number-container .new-game {
  font-size: 42px;
  color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--blur-blue);
  border-radius: 5px;
}

.number-container .new-game:hover {
  background-color: #dce3ed;
}

.new-game {
  grid-column: span 3;
  font-size: 1rem !important;
  color: #fff !important;
  background-color: #5a7bc0 !important;
  font-weight: 600;
  cursor: pointer;
}

.new-game:hover {
  background-color: #7091d5 !important;
}

/* style new game menu */
.new-game-menu {
  width: 100%;
  position: absolute;
  top: -32%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  line-height: 1.5;
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}

.new-game-menu.appear {
  opacity: 1;
  z-index: 1;
}

.new-game-menu .head {
  color: var(--dark-blue);
  font-weight: 600;
  text-align: center;
}

.new-game-menu .small {
  font-size: 0.7rem;
  color: var(--soft-gray);
  text-align: center;
  margin-top: 0.3rem;
}

.new-game-menu .mode-btn {
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 100%;
  background-color: var(--light-blue);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.new-game-menu .level {
  background-color: #f3f6fa;
  border-radius: 5px;
  position: relative;
}

.new-game-menu .level::before {
  content: "";
  border-width: 1rem;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 109%;
  left: 45%;
}

.new-game-menu .level .level-container {
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-blue);
  cursor: pointer;
}

.new-game-menu .level .level-container:not(:last-child) {
  border-bottom: 1px solid var(--blur-blue);
}

.new-game-menu .level .level-container:hover {
  border-radius: 5px;
  background-color: var(--blur-blue);
}

.new-game-menu .level .level-container li {
  width: 7%;
}

.new-game-menu .level .level-container li img {
  width: 100%;
}

/* styling the new game menu spetial in the game over component */
.pupop-new-game-menu {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
  background-color: #fff;
  line-height: 1.5;
}

.pupop-new-game-menu .pupop-head {
  color: var(--dark-blue);
  font-weight: 600;
  text-align: center;
}

.pupop-new-game-menu .pupop-small {
  font-size: 0.7rem;
  color: var(--soft-gray);
  text-align: center;
  margin-top: 0.3rem;
}

.pupop-new-game-menu .pupop-mode-btn {
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 100%;
  background-color: var(--light-blue);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.pupop-new-game-menu .pupop-level {
  background-color: #f3f6fa;
  border-radius: 5px;
}

.pupop-new-game-menu .pupop-level .pupop-level-container {
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-blue);
  cursor: pointer;
}

.pupop-new-game-menu .pupop-level .pupop-level-container:not(:last-child) {
  border-bottom: 1px solid var(--blur-blue);
}

.pupop-new-game-menu .pupop-level .pupop-level-container:hover {
  border-radius: 5px;
  background-color: var(--blur-blue);
}

.pupop-new-game-menu .pupop-level .pupop-level-container li {
  width: 7%;
}

.pupop-new-game-menu .pupop-level .pupop-level-container li img {
  width: 100%;
}

/* styling congrats */
.congrat-container {
  background-image: linear-gradient(180deg, #325aaf 0, #6087d8 38%, #325aaf);
  position: absolute;
  z-index: 1000;
  width: 51%;
  height: 65%;
  border-radius: 10px;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.3s;
  overflow: hidden;
}
.congrat-container .left-side {
  /* height: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 45%;
  align-self: self-start;
  color: #fff;
  margin-top: 5rem;
  margin-left: 1.5rem;
}

.left-side h1 {
  margin-bottom: 2rem;
}

.congrat-container .left-side img {
  width: 100%;
  display: block;
  left: 25%;
  pointer-events: none;
  position: absolute;
  top: -30%;
  transform: translateX(-70%);
  z-index: 0;
  animation: spinner 200s linear infinite;
}

@keyframes spinner {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* .congrat-container .solved-sudoku {
  margin-top: 3rem;
} */

/* right side */
.congrat-container .right-side {
  display: flex;
  flex: 45%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;

  color: #fff;
  position: relative;
}

.congrat-container .right-side > div:not(.new-game-menu, .profile-picture) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: hsla(0, 0%, 100%, 0.2); */
}

.congrat-container .right-side .score,
.name-id {
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 0 0.7rem;
  border-radius: 10px;
}

.congrat-container .right-side .name-id {
  margin: 0.7rem 0 1rem 0;
}
.congrat-container .right-side .score > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

.congrat-container .right-side .score > div:last-of-type {
  border-bottom: none;
}

.congrat-container .right-side .score {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.btns {
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.7rem;
}

.btns .new-game.save {
  color: #fff !important;
  background-color: var(--correct-value) !important;
}

.right-side .new-game {
  border: none;
  width: 100%;
  background-color: #fff !important;
  color: var(--light-blue) !important;
  padding: 1rem 0;
  border-radius: 5px;
  transition: 0.3s;
}

.right-side .new-game:hover {
  color: #5772ad !important;
}

.right-side .name-place input {
  background-color: transparent;
  caret-color: #fff;
  color: var(--hover-effect);
  padding: 0.7rem 0;
}

.right-side .name-place input:focus {
  outline: none;
  background-color: transparent;
}

.left-side .outline-table {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 5px;
}

.left-side .table-shape {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  width: fit-content;
  aspect-ratio: 1 / 1;
  border: 1px solid;
  color: #000;
  border: 1px solid var(--dark-blue);
}

.td {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  aspect-ratio: 1 / 1;
  padding: 0.1rem;
  border-right: 1px solid #94a3b729;
  border-bottom: 1px solid #94a3b729;
  color: var(--dark-blue);
}

.tr:last-of-type .td {
  border-bottom: none !important;
}

.tr .td:last-of-type {
  border-right: none !important;
}

.tr {
  display: contents; /* Use 'contents' to prevent additional structure from interfering */
}

.table-shape .td:nth-child(3),
.table-shape .td:nth-child(6) {
  border-right: 1px solid var(--dark-blue);
}

.table-shape .tr:nth-child(3) .td,
.table-shape .tr:nth-child(6) .td {
  border-bottom: 1px solid var(--dark-blue);
}

/* style menu in the right side */
/* style input file profile walpaper */
.profile-picture {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1.3px #ddd;
  cursor: pointer;
}

.profile-picture img {
  width: 100%;
  cursor: pointer;
  height: 100%;
  object-fit: cover;
}

.profile-picture input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* style the leader board */
.users-container {
  display: flex;
  height: 18rem;
  max-height: 18rem;
  flex-direction: column;
  gap: 1rem;
  /* margin-top: 2rem; */
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
  flex: 1;
}

.users-container .each-user {
  border: 1px solid var(--blur-blue);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  position: relative;
}

.users-container .each-user .user-name {
  flex: 0.95;
}

.users-container .each-user:hover {
  transform: scale(1.03) !important;
  background-color: rgba(0, 0, 0, 0.005);
  z-index: 1;
}

.users-container .each-user:hover .icons-holder {
  opacity: 1;
}

.users-container .each-user .icons-holder {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 100;
  opacity: 0;
}

/* scrollbar */
.users-container::-webkit-scrollbar {
  width: 4px;
  visibility: hidden;
}

.users-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  visibility: hidden;
}

.users-container::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 10px;
  visibility: hidden;
}

.users-container::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.users-container .each-user .description {
  line-height: 1.2;
  flex: 0.9;
  color: var(--dark-blue);
}

.users-container .each-user .description .user-title {
  font-weight: 700;
}

.users-container .each-user .description .user-description {
  color: var(--grey);
  font-size: 0.7rem;
  margin-left: 0.3rem;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  display: block;
}

.users-container .each-user .walpaper {
  width: 3rem;
  border-radius: 50%;
  /* position: absolute; */
}

.users-container .each-user .walpaper img {
  width: 100%;
  border-radius: 50%;
}

.users-container .each-user .container-time {
  color: var(--light-blue);
}

/* style loader */

/* style loading spinner */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #008bca;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  left: 45%;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #008bca;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
