* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --soft-gray: #94a3b7;
  --light-blue: #325aaf;
  --dark-blue: #344861;
  --hover-effect: #f1f4f8;
  --blur-blue: #eaeef4;
  --focused-cell: #bbdefb;
  --focused-other: #e2ebf3;
  --correct-cell: #4dcc4d5e;
  --correct-value: #09dd09;
  --wrong-cell: #f7cfd6;
  --wrong-value: #e55c6c;
}

html,
body {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
  font-family: Arial, Helvetica, sans-serif;
}

ul li {
  list-style-type: none;
}

input[type="text"],
input[type="text"]:focus {
  border: none;
}

.main-container {
  width: 50%;
  padding-top: 1rem;
  margin: auto;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* styling the game navbar */

.game-navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-navbar-container .dificulty-wrapper,
.data-game-container {
  display: flex;
  font-size: 0.8rem;
  font-family: "Mona Sans", sans-serif;
  font-weight: 600;
  color: var(--soft-gray);
}

.data-game-container {
  gap: 20px;
}

.data-game-container .title {
  padding-right: 0.2rem;
}
.data-game-container .value {
  color: var(--dark-blue);
}

.data-game-container .timer {
  width: 3rem;
}
.game-navbar-container .dificulty-wrapper li {
  cursor: pointer;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  padding: 5px 8px;
}

.game-navbar-container .dificulty-wrapper li:hover:not(li:first-of-type) {
  background-color: var(--hover-effect);
}

.dificulty-wrapper .hovered-data.clickable {
  color: var(--light-blue);
}

.pause-icon:hover {
  color: #dce3ed !important ;
}

/* styling game container*/
.game-container {
  padding: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  gap: 10px;
  position: relative;
}

/* styling game over */
.game-over {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1000;
  width: 51%;
  height: 65%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.game-over .pupop {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 50%;
  /* height: 50%; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  padding: 2rem;
  transition: 0.3s;
}

.pupop .text {
  padding: 1.5rem 0;
}

.pupop .text h2 {
  color: #344861;
  margin-bottom: 0.6rem;
}

.pupop .text div {
  color: #94a3b7;
}

.pupop .btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pupop .btn .second-chance-btn {
  color: #fff;
  background-color: #5a7bc0;
  border-color: transparent;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.pupop .btn .second-chance-btn:hover {
  background-color: #5a7ac0d7;
}

.pupop .btn .new-game-btn {
  color: #5a7bc0;
  background-color: transparent;
  border-color: transparent;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
}

.pupop .btn .new-game-btn:hover {
  color: #456abb;
}

/* styling sudoku shape container */
.Sudoku-shape-container {
  /* border: 2px solid var(--dark-blue); */
  flex: 70%;
}

.Sudoku-shape-container.paused {
  /* filter: blur(5px); */
  position: relative;
}

.pause-icon-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-blue);
  z-index: 1000;
  border-radius: 50%;
  padding: 1.5rem;
  cursor: pointer;
}

/* styling the game shape */
.table-shape {
  width: 100%;
  height: 100%;
  border: 2px solid var(--dark-blue);
  border-collapse: collapse;
  /* table-layout: fixed; */
}

.table-shape td {
  border: 1px solid #94a3b787;
  padding: 0;
  position: relative;
}

.table-shape input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0.2rem;
  caret-color: transparent;
  color: var(--dark-blue);
  user-select: none;
  cursor: default;
}

.table-shape input.focused.current {
  background-color: var(--focused-cell);
}

.table-shape input.focused {
  background-color: var(--focused-other);
}

.table-shape input.correctValue {
  color: var(--correct-value);
}
.table-shape input.wrongValue {
  color: var(--wrong-value);
  background-color: var(--wrong-cell);
}
.table-shape input.mistakNumber {
  color: var(--wrong-value);
  background-color: var(--wrong-cell);
}

.table-shape input.paused {
  opacity: 0;
}

tr.focused td input,
td.focused input {
  background-color: #e2ebf3;
}

.table-shape td:nth-child(3),
.table-shape td:nth-child(6) {
  border-right: 2px solid var(--dark-blue);
}
.table-shape tr:nth-child(3),
.table-shape tr:nth-child(6) {
  border-bottom: 2px solid var(--dark-blue);
}

/* styling sudoku setting container */
.sudoku-setting-container {
  flex: 50%;
}
.sudoku-setting-container .sudoku-setting-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.sudoku-setting-container .sudoku-setting-icons .icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sudoku-setting-container .sudoku-setting-icons .icon-container .caption {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--light-blue);
}

.sudoku-setting-container .sudoku-setting-icons li {
  background-color: var(--blur-blue);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sudoku-setting-container .sudoku-setting-icons li:hover {
  background-color: #dce3ed;
}

.sudoku-setting-container .sudoku-setting-icons .hint {
  position: relative;
}

.sudoku-setting-container .sudoku-setting-icons .hint .hint-number {
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  background-color: var(--light-blue);
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15%;
  left: 60%;
}

/* styling setting container */
.setting-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* styling sudoku inputs */
.sudoku-inputs-container {
  position: relative;
  cursor: default;
  user-select: none;
}
.number-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
  gap: 10px; /* Space between grid items */
  list-style-type: none; /* Remove list bullets */
  padding: 0;
}

.number-container li {
  font-size: 42px;
  color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--blur-blue);
  border-radius: 5px;
}

.number-container li:hover {
  background-color: #dce3ed;
}

.new-game {
  grid-column: span 3;
  font-size: 1rem !important;
  color: #fff !important;
  background-color: #5a7bc0 !important;
  font-weight: 600;
  cursor: pointer;
}

.new-game:hover {
  background-color: #7091d5 !important;
}

/* style new game menu */
.new-game-menu {
  width: 100%;
  /* z-index: 100; */
  position: absolute;
  top: -20%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
  background-color: #fff;
  line-height: 1.5;
  display: none;
}

.new-game-menu.appear {
  display: block;
}

.new-game-menu .head {
  color: var(--dark-blue);
  font-weight: 600;
  text-align: center;
}

.new-game-menu .small {
  font-size: 0.7rem;
  color: var(--soft-gray);
  text-align: center;
  margin-top: 0.3rem;
}

.new-game-menu .mode-btn {
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 100%;
  background-color: var(--light-blue);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.new-game-menu .level {
  background-color: #f3f6fa;
  border-radius: 5px;
  position: relative;
}

.new-game-menu .level::before {
  content: "";
  border-width: 1rem;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 109%;
  left: 50%;
}

.new-game-menu .level .level-container {
  padding: 0.7rem 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-blue);
  cursor: pointer;
}

.new-game-menu .level .level-container:not(:last-child) {
  border-bottom: 1px solid var(--blur-blue);
}

.new-game-menu .level .level-container:hover {
  border-radius: 5px;
  background-color: var(--blur-blue);
}

.new-game-menu .level .level-container li {
  width: 7%;
}

.new-game-menu .level .level-container li img {
  width: 100%;
}

/* styling the new game menu spetial in the game over component */
.pupop-new-game-menu {
  width: 100%;

  padding: 1rem;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
  background-color: #fff;
  line-height: 1.5;
}

.pupop-new-game-menu .pupop-head {
  color: var(--dark-blue);
  font-weight: 600;
  text-align: center;
}

.pupop-new-game-menu .pupop-small {
  font-size: 0.7rem;
  color: var(--soft-gray);
  text-align: center;
  margin-top: 0.3rem;
}

.pupop-new-game-menu .pupop-mode-btn {
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 100%;
  background-color: var(--light-blue);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.pupop-new-game-menu .pupop-level {
  background-color: #f3f6fa;
  border-radius: 5px;
}

.pupop-new-game-menu .pupop-level .pupop-level-container {
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-blue);
  cursor: pointer;
}

.pupop-new-game-menu .pupop-level .pupop-level-container:not(:last-child) {
  border-bottom: 1px solid var(--blur-blue);
}

.pupop-new-game-menu .pupop-level .pupop-level-container:hover {
  border-radius: 5px;
  background-color: var(--blur-blue);
}

.pupop-new-game-menu .pupop-level .pupop-level-container li {
  width: 7%;
}

.pupop-new-game-menu .pupop-level .pupop-level-container li img {
  width: 100%;
}

/* styling congrats */
.congrat-container {
  background-image: linear-gradient(180deg, #325aaf 0, #6087d8 38%, #325aaf);

  position: absolute;
  z-index: 1000;
  width: 51%;
  height: 65%;
  border-radius: 10px;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.3s;
  overflow: hidden;
}
.congrat-container .left-side {
  /* height: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 45%;

  /* margin-left: 3rem; */
  /* margin-top: 5rem; */
  color: #fff;
}

.congrat-container .left-side img {
  width: 100%;
  display: block;
  left: 25%;
  pointer-events: none;
  position: absolute;
  top: -30%;
  transform: translateX(-70%);
  z-index: 0;
  animation: spinner 200s linear infinite;
}

@keyframes spinner {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* .congrat-container .solved-sudoku {
  margin-top: 3rem;
} */

/* right side */
.congrat-container .right-side {
  /* height: 100%; */
  display: flex;
  flex: 45%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;
  /* margin-top: 10rem; */
  color: #fff;
}

.congrat-container .right-side > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: hsla(0, 0%, 100%, 0.2); */
}

.congrat-container .right-side .score,
.name-id {
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 10px;
}

.congrat-container .right-side .name-id {
  padding: 0.7rem;
  margin: 0.7rem 0 1rem 0;
}
.congrat-container .right-side .score > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

.congrat-container .right-side .score > div:last-of-type {
  border-bottom: none;
}

.congrat-container .right-side .position button {
  background-color: hsla(0, 0%, 100%, 0.2);
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  transition: 0.3s;
}

.congrat-container .right-side .position button:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.congrat-container .right-side .score {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.right-side .new-game {
  border: none;
  width: 100%;
  margin-top: 3rem;
  background-color: #fff !important;
  color: var(--light-blue) !important;
  padding: 1rem 0;
  border-radius: 5px;
  transition: 0.3s;
}

.right-side .new-game:hover {
  color: #5772ad !important;
}

.left-side .table-shape {
  width: 50%;
  padding: 0.3rem;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.left-side .table-shape tr td input {
  font-size: 10px;
}

/* .congrat-container .left-side .solved-sudoku {
  background-color: #fff;
}

.congrat-container .left-side .solved-sudoku td input {
  width: 50%;
} */
